head
    - var websiteUrl='https://snehfoundationindia.org';
    - var websiteDescription=`Education and healthcare for under previlaged children in india. NGO, indian government certified NGO. 80G, FCRA, 12A certified NGO. working on child malnutrition issues in india. focus on pre-primary eduction for children in india`;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="Lokeshjain2008">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    //- Pending tasks 1.update website logo
    //- social site tag
    <link rel="canonical" href="#{websiteUrl}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Certified NGO, Education and Healthcare for children." />
    <meta property="og:description" content="#{websiteDescription}" />
    <meta property="og:url" content="#{websiteUrl}" />
    <meta property="og:site_name" content="snehfoundationindia.org" />
    <meta property="og:image" content="<website logo>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="#{websiteDescription}" />
    <meta name="twitter:title" content="Certified NGO, Education and Healthcare for children." />



    meta(name='description', content='#{websiteDescription}')
    meta(name="keywords",
        content='Certified NGO, Education and Healthcare for children, free education for childern, healthcare for children, eduction NGO, working on child malnutrition NGO,  ')
    block title
      title `#{title}`
    link(rel='apple-touch-icon', href='apple-touch-icon.png')


    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
